<div *ngIf="open">
  <header>
    <a href="#">
      <img src="./assets/icono.png" alt="logo" class="logo">
    </a>
    <input type="checkbox" class="mostrar_menu" id="toggle">
    <label class="i" for="toggle">
      <mat-icon class="icon">menu</mat-icon>
    </label>
    <nav class="navegation">
      <ul class="nav_menu">
        <li><a href="#Inicio" >Home</a></li>
        <li><a href="#Nosotros" >Nosotros</a></li>
        <li><a href="#Servicios" >Servicios</a></li>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/registrar-usuario" >Registrate</a></li>
        <li><a href="" (click)="cerrar()">Cerrar Sesion </a></li>
      </ul>
    </nav>
  </header>
</div>
<section class="CRUD">
  <div>
    <nav mat-tab-nav-bar ngClass = "tabs" *ngIf="open">
      <a mat-tab-link routerLink="/pages/Empresa" routerLinkActive="active-link" *ngIf="validarRolEstudiante()">Empresa</a>
      <a mat-tab-link routerLink="/pages/usuarios" routerLinkActive="active-link">Usuario</a>
      <a mat-tab-link routerLink="/pages/requisitos" routerLinkActive="active-link" *ngIf="validarRolAdmin()">Requisito</a>
      <a mat-tab-link routerLink="/pages/Calificacion" routerLinkActive="active-link" *ngIf="validarRolAdmin()">Calificacion</a>
      <a mat-tab-link routerLink="/pages/Institucion" routerLinkActive="active-link">Institucion</a>
      <a mat-tab-link routerLink="/pages/carreras" routerLinkActive="active-link" *ngIf="validarRolAdmin()">Carrera</a>
      <a mat-tab-link routerLink="/pages/estudiantes" routerLinkActive="active-link">Estudiantes</a>
      <a mat-tab-link routerLink="/pages/Reclutadores" routerLinkActive="active-link" *ngIf="validarRolEstudiante()">Reclutadores</a>
      <a mat-tab-link routerLink="/pages/Puesto_trabajo" routerLinkActive="active-link" >Puesto_trabajo</a>
      <a mat-tab-link routerLink="/pages/Match" routerLinkActive="active-link">Match</a>
      <a mat-tab-link routerLink="/pages/Calificacion_Estudiante" routerLinkActive="active-link">Calificacion_Estudiante</a>
      <a mat-tab-link routerLink="/pages/Rol" routerLinkActive="active-link" *ngIf="validarRolAdmin()">Rol</a>

    </nav>
  </div>
</section>

<div>
  <br>
  <router-outlet></router-outlet>
</div>

